@use "../../../styles/variaveis" as *;

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  padding: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;

  .rotina {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $cor-secundaria;
    border-radius: $radius-card;
    cursor: pointer;
    width: 250px;
    height: 250px;
    margin-top: 18px;
    transition: all 0.2s ease;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
    }
  }
}
