@use "../../../styles/variaveis" as *;

.card {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  width: 100%;
  text-decoration: none;
  color: black;
}

.rotina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: $cor-segundaria;
  border-radius: $radius-card;
  width: 200px;
  height: 200px;
  margin-top: 18px;

  font-size: $fonte-grande;
  font-weight: 600;

  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: $sombra-card;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
}
