.menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    display: flex;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: all 0.2s;
}

.menu-link.ativo {
    background-color: #cdcdcd;
    color: #363636;
}
