@use "../../styles/variaveis" as *;

.menu {
  width: 280px;
  background-color: $cor-secundaria;
  border-right: 1px solid #e5e7eb;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  .menu-header {
    text-align: center;

    .menu-logo {
      background-color: #cdcdcd;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin: 0 auto 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menu-nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      color: black;
      display: flex;
      gap: 0.75rem;
      padding: 0.7rem 1rem;
      border-radius: 8px;
      transition: all 0.2s;

      &:hover {
        background-color: #cdcdcd;
        color: #363636;
      }
    }
  }

  .menu-footer {
    margin-top: 28rem;

    a {
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 0.5rem 0.75rem;

      &:hover {
        color: #363636;
      }
    }
  }
}