@use "../../../styles/variaveis" as *;

.listagem-produto {
    margin-left: 250px;
    padding: 2rem;
    background-color: $cor-background-claro;
    min-height: 100vh;
    height: auto;

    .produto-conteiner{
        background-color: #ededed;
        padding: 2rem;
        border-radius: $radius-card;
    }   

    .acoes {
        cursor: pointer;
    }
}
