@use "../../../styles/variaveis" as *;

.pagina-principal {
  display: flex ;
  flex-direction: row;
  background-color: $cor-background-claro;
  color: #1a1a1a;
}

.conteudo-atalhos {
  margin-left: 280px;
  width: calc(100% - 280px);
  min-height: 100vh;
  background: #f7f8fa;
  overflow-y: auto;
}