@use "../../styles/variaveis" as *;

.pagina-principal {
  display: flex ;
  flex-direction: row;
  height: 100vh;
  background-color: #e8e8e8;
  color: #1a1a1a;
}

.conteudo-principal {
  margin-left: 280px;
  padding: 2rem;
  width: calc(100% - 280px);
  overflow-y: auto;
  min-height: 100vh;
}