@use "../../styles/variaveis" as *;

.tabela {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: $radius-padrao;
    overflow: hidden;
    box-shadow: $sombra-card;

    th, td {
        padding: 15px;
        border-bottom: 1px solid #eee;
        font-size: $fonte-padrao;
    }

    th {
        text-align: left;
        background: $cor-background-claro;
        font-size: $fonte-padrao;
    }

    tr:hover {
        background: $cor-background-claro;
    }
}
