@use "../../styles/variaveis" as *;

.conteudo-principal {
    margin-left: 280px;
    width: calc(100% - 280px);
    overflow-y: auto;
    min-height: 100vh;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;

    th, td {
        padding: 15px;
        border-bottom: 1px solid #eee;
    }

    th {
        text-align: left;
        background: $cor-background-claro;
    }

    tr:hover {
        background: $cor-background-claro;
    }
}
