$cor-primaria: #222222;
$cor-secundaria: #ffffff;
$cor-hover: #797979;
$cor-background-claro: #f8f8f8f2;
$cor-sombra:#dedee2;
$cor-descricao: #797979;
$cor-borda: #dedee2;

$sombra-card: 0 2px 10px $cor-borda;

$radius-padrao: 5px;
$radius-card: 12px;

$fonte-grande: 24px;
$fonte-padrao: 16px;

$padding-padrao: 1rem;
$margin-padrao: 20px;

$borda-padrao: solid 2px $cor-borda;