$cor-primaria: #222222;
$cor-secundaria: #ffffff;
$cor-hover: #ee86cb;
$cor-background-claro: #f2f2f2f2;
$cor-sombra: #4e4e4e;

$sombra-card: 10px 10px 30px $cor-sombra;

$radius-padrao: 5px;
$radius-card: 12px;

$fonte-grande: 24px;

$padding-padrao: 20px;
$margin-padrao: 24px;
