@use "../../../styles/variaveis" as *;

.atalhos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 100%;

    .atalho-footer, .atalho-main{
        border: $borda-padrao;
        border-radius: $radius-padrao;
        padding: $padding-padrao;
        font-size: $fonte-grande;
        width: 100%;
        font-weight: 600;
    }

    .atalho-main{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}