@use "../../../styles/variaveis" as *;

.listagem-pessoa {
    margin-left: 250px;
    padding: 2rem;
    background-color: $cor-background-claro;
    min-height: 100vh;
    height: auto;

    .pessoa-conteiner{
        background-color: #ededed;
        padding: 2rem;
        border-radius: 5px;
    }   

    .acoes {
        cursor: pointer;
        text-align: center;
    }
}
